@page "/"

<PageTitle>Home</PageTitle>

<div class="container mt-5">
    <h1 class="display-4">Hello!</h1>
    
    <a href="https://github.com/MarchingBug/SQL-RAG" target="_blank">For more information on how to implement check out this GitHub Repository</a>

    <h2 class="mt-4">Section Description</h2>
    <h3 class="mt-3"><a href="/ChatWithMe">Document SQL NLP</a></h3>
    <p>Documents have been chunked and saved into an Azure SQL database, Key Phrases extracted and saved into Graph table, a vector database was created for similarity search. Ask a question about the documents on the database, refine the search all with a stored procedure.</p>
    <img src="https://raw.githubusercontent.com/MarchingBug/SQL-RAG/4caf66e74fe014c76dea22e78f2189cc1ba0990a/images/Slide11.JPG" alt="SQL RAG Slide 11" class="img-fluid mt-3">

    <h3 class="mt-3"><a href="/SQLNLP">SQL NLP</a></h3>
    <p>Using Adventure Works, ask questions about your data</p>
    <img src="https://raw.githubusercontent.com/MarchingBug/SQL-RAG/main/images/Slide17.PNG" alt="SQL RAG Slide 17" class="img-fluid mt-3">

    <h3 class="mt-3"><a href="/Summarize-parquet">Long Documents</a></h3>
    <p>Work with long documents, pre-chunked into parquet files, ask questions, summarize</p>
    <img src="https://ustspdevpocdatalake.blob.core.windows.net/mythings/_c8919ae7-4d81-45cc-ac3c-f4304ffa7afb.jpg?sp=r&st=2024-08-09T22:05:49Z&se=2026-08-10T06:05:49Z&sv=2022-11-02&sr=b&sig=HBigNu%2FERY51lnfoGCaRhoffYn%2FQV6Kktz0quf3bYr0%3D" alt="SQL RAG Slide 17" class="img-fluid mt-3">

</div>


